body {
    background-color: #96cc99;
    color: #000000;
    font-family: 'Comic Sans MS';

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;

    text-align:center;
}



input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #ffffff;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #59b45c;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    
}

button:hover {
    background-color: #45a049;
}

.secondary-btn {
    background-color: #555;
}

.secondary-btn:hover {
    background-color: #666;
}

.hidden {
    display: none;
}



h1 {
    font-size: 2rem;
    text-align: center;
    margin: 20px;
    color:#45a049
}


span.lewo {
    display: block;
    text-align: left;
    margin: 5px;
    margin-bottom: 0px;
}